@font-face {
  font-family: Underdog-Regular;
  font-style: normal;
  src: url("./fonts/Underdog-Regular.ttf");
}
@font-face {
  font-family: v17450;
  font-style: normal;
  src: url("./fonts/v17450.otf");
}
@font-face {
  font-family: v17752;
  font-style: normal;
  src: url("./fonts/v17752.ttf");
}
@font-face {
  font-family: Caveat-Bold;
  font-style: normal;
  src: url("./fonts/Caveat-Bold.ttf");
}

